#root { /* refine (override) root container level layout after the global styles from index.css */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* play board*/
.dealt-cards {
  background-color: #2d5016;
  border-radius: 20px;
  padding: 40px;
  min-height: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 8px solid #8b4513;
}
